 .u-section-1 {
  background-image: linear-gradient(#3c0949, black);
}

.u-section-1 .u-sheet-1 {
  min-height: 972px;
}

.u-section-1 .u-btn-1 {
  font-family: "VCR_OSD_MONO_1.001";
  border-style: solid;
  text-transform: uppercase;
  font-size: 1.875rem;
  box-shadow: -2px 2px 8px 0px rgba(128,128,128,1);
  margin: 20px auto 0 20px;
  padding: 6px 31px 6px 30px;
}

.u-section-1 .u-image-1 {
  width: 384px;
  height: 305px;
  margin: 51px auto 0;
}

.u-section-1 .u-image-2 {
  width: 623px;
  height: 350px;
  margin: 77px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 925px;
  }

  .u-section-1 .u-image-2 {
    width: 540px;
    height: 303px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 778px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 270px;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 191px;
  }
}@font-face {
  font-family: 'VCR_OSD_MONO_1.001';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/VCR_OSD_MONO_1.001.ttf);
}